<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="main">
                <%- include('../includes/errors.ejs') %>

                <form method="POST" class="form">
                    <p class="center heading">Вход</p>
                    <div class="form-control">
                        <label for="email">Имейл</label>
                        <input type="email" id="email" name="email" value="<%= userData.email%>">
                    </div>
                    <div class="form-control">
                        <label for="password">Парола</label>
                        <input type="password" id="password" name="password" value="<%= userData.password %>">
                    </div>
                    <div class="form-control">
                        <input class="btn" type="submit" value="ВХОД">
                    </div>
                </form>
            </main>

            <%- include('../includes/footer.ejs') %>
    </body>

    </html>